.section-menu {
  background: #fe86a4;
  overflow: hidden;
  width: 100%;
  padding: 1rem 0rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17rem;
}
.contact-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-buttons a {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  z-index: 1;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.social-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.facebook-icon {
  color: #fff;
  width: 1rem;
  height: 1rem;
}
.youtube-icon {
  color: #fff;
  width: 1rem;
  height: 1rem;
}
.icon-insta {
  color: #fff;
  width: 1rem;
  height: 1rem;
}
.search-button {
  all: unset;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.lupa-icon {
  width: 1rem;
  height: 1rem;
}
.search-container {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0 1rem;
}
.search-container button {
  z-index: 999;
  cursor: pointer;
}
