.products-section {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  justify-content: center;
  width: 100%;
  border-top: solid 0.5px #33333331;
  background: #f4f4f4;
  gap: 1rem;
}
.responsive-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15rem;
}
.products-section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-section article h1 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 53.2px;
}
.products-section article p {
  color: #bf7a52;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
}

.container-Products {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.produto {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.08);
}
.produto h1 {
  color: #343434;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
.produto img {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  width: 15rem;
}
.produto nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.produto nav a {
  border-radius: 19px;
  background: #fe86a4;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  padding: 0.1rem 1rem;
  cursor: pointer;
}
